

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/The-Hand/the_hand_bold-webfont.woff') format('woff');
} */

#root {
  height: 100vh;
  width: 100vh;
}

body { 
  font-family: Roboto, Verdana;
  color: #212d4c;
  background-color: #8aa0c5;
}

.outside-of-planter {
  display: grid;
  grid-template-rows: auto 1fr; 
  height: 100vh;
  overflow: auto;
  align-content: end;
  align-items: end;
}

.modal {
  padding: 2%;
  position: fixed;
  top: 50%;
  left: 50%;
  height: auto;
  width: 500px;
  transform: translate(-50%, -50%);
  background: url('./textures/book/page.png');
  background-size: 1000px;
  background-position: center right;
  filter: brightness(0.95) sepia(50%) saturate(80%);
  border-style: solid;
  border-width: 3px;
  border-radius: 2%;
  z-index: 1000;
}

.modal-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 999;
}


.modal-btns-container {
  display: flex;
  justify-content: space-between;
}

.plant-form {
  color:#868686;
  font-size: 20pt;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: start;
  gap: 10px;
  flex-shrink: 1;
}
.field {
  display: flex;
  align-items: baseline;
}

.field {
  position: relative;
}

input[type=text] {
  position: relative;
  font: inherit;
  height: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20pt;
  font-style: italic;
  appearance: none;
  padding: 0px 0px 0px 0px;
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid #a8a8a8;
  outline: none;
  background-color: transparent;
  color: inherit;
}

select {
  position: relative;
  font: inherit;
  height: auto;
  font-size: 20pt;
  font-style: italic;
  appearance: none;
  padding: 0px 5px 0px 5px;
  -webkit-appearance: none;
  outline: none;
  border: 2px solid #a0a0a0;
  color: #c9c9c9;
  background-color: transparent;
  color: inherit;
}



.pick-img-field{
  display: flex;
  /* gap: 30px */
}
.img-pick-bg {
  font-size: 10px;
  display: flex;
  position: fixed;
  padding: .5rem .5rem .5rem .5rem;
  border: 1px  solid black;
  background-color: white;
}


.plants {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
}

#new-plant {
  /* box-sizing:content-box; */
  height: 12.5rem;
  width: 12.5rem;
  padding: 0px;
  border: none;
}

#new-plant:hover{
  box-shadow: inset 0 0 0 5px rgb(255, 213, 0);
  margin: none;
}


.plant {
  height: 12.5rem;
  width: 12.5rem;
  margin-right: 0.229rem;
  position: relative;
  max-height: 12.5rem; 
}

.shelf-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap; 
  align-items: end;
  width: fit-content; 
  z-index: -1;
}

.shelf {
  position: relative;
  display: flex;
  align-items: flex-end;
  height:12.5rem;
  width:fit-content;
  top: 1.25rem;
}

.table-and-dropzone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  justify-self: flex-end;
}

.table {
  height: auto;
  width: auto;
}


.watering-can-dropzone {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background-color: rgba(255, 0, 0, 0.466); */
}

.watering-can:hover {
  cursor: grab;
}

.plant-img {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.new-plant-img {
  height: 120px;
  width: 120px;
  position: relative;
  background-color: transparent;
}

.plant .plant-btns {
  display: none;
}

.plant:hover .plant-btns {
  display: block;
}

/* .plant:hover, #new-plant:hover {
  border: 5px solid #ffb055;
  margin: 0px;
} */

#plant-species-name {
  font-size: 40px;
  font-family: Roboto;
  position: absolute;
  transform: translateX(25%) translateY(150%);
  color: #2a3654;
  
  font-size: 40px;
  min-height: 25px;
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.plant-btns, .modal-btns {
  --btn-color: #a38d93;
  --btn-bg-color: #e6e6e6;
  position: absolute;
  font-size: 15px;
  background-color: var(--btn-bg-color);
  color: var(--btn-color);
  padding: 0px 0px 0px 0px;
  border-color:var(--btn-color);
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  box-shadow: 0px 0px 2px;
  opacity: 0.7;
  z-index: 2;
}

.plant-btns:hover, .modal-btns:hover {
  --btn-color: #a38d93;
  --btn-bg-color: #e6e6e6;
  opacity: 1.0;
}

.plant-btns:active, .modal-btns:active {
  background-color: rgb(155, 202, 155);
  box-shadow: 2px 5px 10px 0px #e1be8c inset;
  color: #e6e6e6;
}


#plant-info-btn, #edit-plant-info-btn {
  width: 40px;
  height: 24px;
  top: 5px;
  left: 5px;
}

#delete-plant-btn, .exit-modal-btn {
  width: 30px;
  height: 24px;
  top: 5px;
  right: 5px;
}

.water-meter {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: calc(100% - var(--water-meter-height));
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #bcf8f0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #00cb95 ;
  z-index: 1;
  box-shadow: 0px 40px 50px #17a7ba inset;
  --mask:
    radial-gradient(0.56em at 50% 0.75em,#000 99%,#0000 101%) calc(50% - 0.5em) 0/1em 100%,
    radial-gradient(0.56em at 50% -0.5em,#0000 99%,#000 101%) 50% .25em/1em 100% repeat-x;
    -webkit-mask: var(--mask);
          mask: var(--mask);
}


#plant-species-name, #new-plant {
  font-weight: light;
  opacity: 80%;
}

#new-plant {
  font-size: 60px;
  text-shadow: 2px 2px 0px black inset 
}

#modal-header {
  display: flex;
  justify-content: space-between;
}




.plant-modal{
  font-size: 20px;
}

.plant-info{
  display: flex;
  flex-direction: column;
  flex: 1 100%;
  border-style: none;
}


