body {
  background-color: rgb(26, 26, 26);
}


.planter-box {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
.modal {
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 400px;
  transform: translate(-50%, -50%);
  background-color:rgb(163, 238, 179);
  border-style: solid;
  border-width: 3px;
  border-color: rgb(196, 155, 59);
  z-index: 1000;
}

.plant-form {
  font-size: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: start;
  gap: 10px;
  flex-shrink: 1;
}

.form-text-fields {
  display: table;
  width: 90%;
  border-spacing: 2px;
}

.form-text-fields>div {
  display: table-row;
}

.field-label,
.field-input {
  display: table-cell;
  
}

.field-label {
  width: 20%;
  white-space: nowrap;
}

.field-input {
  width: 80%
}

.modal-bg-overlay, .plant-info-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.plants {
  display: flex;
  flex-wrap: wrap;
  gap: 3px
}


.plant-remove {
  display: flex;
  justify-content: end;
}

#plant-display-name{
  min-height: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plant, #new-plant{
  background-color: lightgreen;
  min-height: 200px;
  min-width: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: #4a54f1;
}

#plant-display-name, #new-plant {
  font-size: 50px;
}

.plant {
  justify-content: center;
  align-items: center;
}

#modal-header {
  display: flex;
  justify-content: space-between;
}

.info-modal-buttons {
  min-width: 400px;
  display: flex;
  justify-content: end;
  gap: 10px;
}

#plant-info-button {
  display: flex;
  flex-shrink: 1;
}

.plant-modal{
  font-size: 20px;
}

.plant-info{
  display: flex;
  flex-direction: column;
  flex: 1 100%;
  border-style: none;
}
