body {
  color: white;
  background-color: #ffffff;
}


.planter-box {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.modal {
  color:#5e2a2ab3;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 450px;
  transform: translate(-50%, -50%);
  background-color:#76d576;
  border-style: solid;
  border-width: 3px;
  border-radius: 10%;
  border-color: rgb(247, 222, 165);
  z-index: 1000;
}

.plant-form {
  font-size: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: start;
  gap: 10px;
  flex-shrink: 1;
}

.form-text-fields {
  display: table;
  width: 90%;
  border-spacing: 2px;
}

.form-text-fields>div {
  display: table-row;
}

.field-label,
.field-input {
  display: table-cell;
  
}

.field-label {
  width: 20%;
  white-space: nowrap;
}

.field-input {
  width: 80%
}

.modal-bg-overlay, .plant-info-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.plants {
  display: flex;
  flex-wrap: wrap;
  gap: 20px
}
#new-plant {
  background-color: #92f592;
  padding: 0;
  border-style: none;
  border-width: none;
}
.plant, #new-plant{
  height: 200px;
  width: 200px;
  box-shadow: 4px  4px  20px #d677ff;
}

.plant {
  background-color: var(--water-plant);
  position: relative;
  max-height: 200px;
}

#plant-info-btn {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #f300ae;
  color: #ffffff;
  border-color: #f33500;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
  z-index: 1000;
}

#delete-plant-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1000;
  background-color: #ff0000;
  color: #ffffff;
  border-color:#0e920e;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
}

.water-meter {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: calc(100% - var(--water-meter-height));
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #6ac1ff;
  z-index: 1;
}
 
#plant-species-name {
  font-size: 40px;
  font-family: Verdana;
  position: absolute;
  left: 20%;
  top: 10%;
  color: #61464d;
  font-size: 40px;
  min-height: 155px;
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#plant-species-name, #new-plant {
  font-weight: light;
}

#new-plant {
  font-size: 60px;
  text-shadow: 2px 2px 0px black inset 
}

#modal-header {
  display: flex;
  justify-content: space-between;
}

.info-modal-buttons {
  min-width: 400px;
  display: flex;
  justify-content: end;
  gap: 10px;
}

#plant-info-button {
  display: flex;
  flex-shrink: 1;
}

.plant-modal{
  font-size: 20px;
}

.plant-info{
  display: flex;
  flex-direction: column;
  flex: 1 100%;
  border-style: none;
}
